<!-- ---------- Colonne Gauche ---------- -->
<div class="col-lg-4">
    <!-- Intro -->
    {% include 'portfolio/includes/intro.html' %}
    <!-- Contacts -->
    {% include 'portfolio/includes/contact.html' %}
    <!-- Qualités -->
    {% include 'portfolio/includes/qualite.html' %}
    <!-- Connaissances Linguistiques -->
    {% include 'portfolio/includes/langue.html' %}
    <!-- Loisirs -->
    {% include 'portfolio/includes/loisirs.html' %}
    <!-- Photos -->
    {% include 'portfolio/includes/photos.html' %}
</div> <!-- /col-lg-4 -->
