<div class="card p-3 mb-3">
    <h4 class="primary-color mb-3">Compétences</h4>
    {% if skills %}
        {% for skill in skills %}
        <div class="mb-2">
            <span>{{ skill.name }}</span>
            <div class="progress">
                <div class="progress-bar bg-primary-color" role="progressbar" style="width: {{ skill.level }}%;" aria-valuenow="{{ skill.level }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <p class="text-muted">Aucune compétence disponible.</p>
    {% endif %}
</div>
